.center {
    background-repeat: no-repeat;
    height: 100vh;
    min-width: 15vh;
    max-width: 30vh;
    width: 30vw;
    background-size: cover;
}

.center img {
    height: 100%;
    width: 100%;
}