.center {
    background-repeat: no-repeat;
    height: 100vh;
    min-width: 20vw;
    max-width: 20vw;
    width: 20vw;
    background-size: cover;
}

.center img {
    height: 100%;
    width: 100%;
}