.note {
    background-color: #2377ff;
    height: 40pt;
}

.note p {
    font-size: 16pt;
    color: #2e3033;
    margin-bottom: 0;
    margin-top: 2pt;
    text-align: left;
    margin-left: 10pt;
}