.film_image {
    height: 43vh;
    min-height: 43vh;
}


.film_image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40vh;
    min-height: 40vh;
    max-height: 40vh;
}
