.title {
    min-height: 5vh;
    max-height: 20vh;
}

.title p {
    width: 100%;
    max-height: 15vh;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
    font-weight: bold;
    font-size: 18pt;
    margin-top: 5pt;
    border-width: 0 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}
