.description textarea {
    width: 90%;
    height: 40vh;
    min-height: 30vh;
    resize: vertical;
    max-height: 40vh;
    font-size: 14pt;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-bottom-width: 0pt;
    border-left-width: 0pt;
    font-family: 'Roboto', sans-serif;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
}
