.container_text_editor textarea {
    width: 95%;
    margin-left: 5%;
    height: 85vh;
    resize: none;
    max-height: 85vh;
    margin-top: 0;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-bottom-width: 0pt;
    border-left-width: 0pt;
    outline: none;
    font-family: 'Caveat', cursive;
    font-size: 25pt;
    margin-left: 0pt;
    background-color: rgba(0, 0, 0, 0);
}
