.note {
    background-color: white;
    height: 40pt;
    border-width: 1pt 1pt 1pt 1pt;
    border-color: white;
    background:url("../../../img/new_note_button.png");
    background-size: 100% 100%;
    border-style: solid;
    cursor: pointer;
}

.note p {
    font-size: 16pt;
    color: white;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.choosen_note {
    background-color: white;
    height: 40pt;
    border-width: 0 0 1pt 0;
    border-color: gray;
    border-style: solid;
    cursor: pointer;
}

.choosen_note p {
    font-size: 16pt;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.note :focus p {
    color: red;
}