.recommendations_with_arrows {
    display: flex;
    flex-direction: row;
}

.content_margin {
    background: url("../../../../img/right_diary.png") left;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 40vw;
}

.recommendations {
    width: 80%;
}